<nav class="navbar navbar-light bg-light nav-admin">
      <div class="nav-admin title"><%= link_to t('admin.nav.header'), root_path %></div>

    <div class="nav-admin user">
       <%= t('shared.navbar.welcome') %><b class="nav-admin user-email"><%=  current_user.name.capitalize%></b> 
      <%=  button_to  t('shared.navbar.logout'), destroy_user_session_path, method: :delete %>
    </div>
  </div>
</nav>

