<tr>
  <td class="align-middle"><%= badge.name %></td>
  <td class="align-middle">
    <%= image_tag badge.image, :alt => "image", size: 100 %>
  </td>
  <td class="align-middle"><%= badge.rule %></td>
</tr>
