<div class="card text-center">
  <div class="card-body"><br>
  <br>
  <%= current_year %>
  Автор: Кирилл Безик
  <br>
  <%= github_url("pgbuker", "test-guru") %><br>
  Проект прохождения тестирования <br>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %>
  <p><%= link_to 'Обратная связь', new_feedback_path %></p>
  </div>  
</div>

