<%# <h1>About#index</h1> %> 
<%# <p>Find me in app/views/about/index.html.erb</p> %> 
<h1>Test Guru</h1> 
<p>Это обучающая программа, разрабатываемая по курсам онлайн-школы Thinknetica www.thinknetica.com предназначена для: </p>
<ul>
  <li>Создания тестов и управления ими</li>
  <li>Аутентификации</li>
  <li>Разграничения прав доступа</li>
  <li>Выполнения тестов</li>
  <li>Публикации результатов в соцсети</li>
</ul>  

<%# <h1>Hello, Rails!</h1> %>
