<h1> <%= t('tests.index.header') %> </h1>
  <table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Author</th>
    <th>Category</th>
    <th  bgcolor="#FBF0DB">Actions</th>
    <th  bgcolor="#FBF0DB">Кол-во вопросов</th>
  </tr>

  <%= render @tests %>

</table>
